<div class="container">  
    <h2>Productos de Entrenamiento</h2>  
    <div class="row">  
      <div class="col" *ngFor="let entrenamiento of entrenamientos">  
        <div class="card">  
          <img [src]="entrenamiento.imagen" [alt]="entrenamiento.alt" class="card-image">  
          <div class="card-content">  
            <h3>{{ entrenamiento.nombre }}</h3>  
            <button class="btn">Agregar al carrito</button>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>