<h1>PRODUCTOS DESTACADOS</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let i of info" class="contenido">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{i.nombre}}</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}">
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions>
            
            <button mat-button>Agregar </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="ver-mas">  
  <a href="" class="boton-ver-mas">Ver más</a>  
</div>

<div class="cards-container">
  <div class="card">
      <img src="https://mir-s3-cdn-cf.behance.net/projects/404/7286ee91853085.Y3JvcCwzNDA5LDI2NjcsMzAzLDA.jpg" alt="Imagen 1">
      <h2>ENVÍO GRATIS</h2>
      <p>Podrás elegir esta opción si tu compra supera los $119.999</p>
      <a href="#" class="button">Ver más</a>
  </div>
  <div class="card">
      <img src="https://acdn.mitiendanube.com/stores/002/458/854/themes/new_linkedman/1-img-896135561-1665079071-d09571ccaa220e8e09a888c038e001851665079071-480-0.webp?1455220215" alt="Imagen 2">
      <h2>BIENVENIDO</h2>
      <p>Somos una empresa con 32 años de trayectoria en el mundo del Hockey sobre césped.</p>
      <a href="#" class="button">Contacto</a>
  </div>
  <div class="card">
      <img src="https://acdn.mitiendanube.com/stores/002/458/854/themes/new_linkedman/1-img-279549985-1665079497-b44cffdcc7a6904f3a9d3544f4dcf3691665079498-480-0.webp?1455220215" alt="Imagen 3">
      <h2>PROMOCIONES</h2>
      <p>Hacé click acá, y enterate de todas nuestras ofertas y promociones.</p>
      <a href="#" class="button">Ver más</a>
  </div>
</div>

